.newsletter-modal-main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    position: relative;
    background-color: white;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #444;
}
.newsletter-modal-main input[type="email"]{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 300px;
    margin: 1rem auto;
    display:block;
}

.subscribe-banner{
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    border-bottom: 5px double #444;
    border-top: 5px double #444;
}

.cta-container{
    background-color: var(--secondary-color);
    padding: 0.5rem;
}