.diamonds {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-gap: 10px;
}

.diamond {
  width: 50px;
  height: 50px;
  background-color: #0c0064; /* bootstrap primary */
  transform: rotate(45deg);
}
